@tailwind base;
@tailwind components;
@tailwind utilities;

/* globals.css */
:root {
  --primary-color: #111317;
  --primary-color-light: #1f2125;
  --primary-color-extra-light: #35373b;
  --secondary-color: #f9ac54;
  --secondary-color-dark: #d79447;
  --text-light: #d1d5db;
  --white: #ffffff;
}

body {
  font-family: var(--font-geist-sans);
  margin: 0;
  padding: 0;
  background-color: var(--primary-color);
  color: var(--text-light);
}
.swiper-button-next,
.swiper-button-prev {
  @apply text-white !important;
  @apply hover:text-secondary !important;
}

.swiper-wrapper {
  overflow: visible !important; /* Permitir que los elementos sobresalgan */
}

.swiper-slide {
  overflow: visible !important;
}

.swiper {
  overflow: visible !important;
}
